body {
 /*font-family: arial, helvetica, san-serif;
 font-size: 15px;
 line-height: 1.5;* short cut below*/

 font: 15px/1.5 Arial, Helvetica, san-serif;
 padding: 0;
 margin: 0;
 background-color: #;
}

/* global */
.container {
 width: 80%;
 margin: auto;
 overflow: hidden;
 }

 /* gwt a quote */
.dark {
 padding: 15px;
 background: hsla(203, 17%, 25%, .75);
 color: #fff;
 margin-bottom: 10px;
 width: 350px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
 width: 90%;
 padding: 5px;
}

aside#sidebar {
 padding-left: 40px;
}


